<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <form action="/user/create" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
              <input type="hidden" name="authenticity_token" value="...">
              <div class="row g-0">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8 text-center">
                        <a href="/login">
                          <h3 class="fw-normal mb-5" style="color: #4835d4;">Login</h3>
                        </a>
                      </div>
                      <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                          <input type="email" name="email" placeholder="Email..." id="form3Examplev4" class="form-control form-control-lg" />
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" name="username" placeholder="Username..." id="form3Examplev2" class="form-control form-control-lg" />
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                          <input type="password" name="password" placeholder="Password..." id="form3Examplev3" class="form-control form-control-lg" />
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label for="upload-photo" class="btn btn-secondary">Choose avatar</label>
                        <input type="file" name="avatar" id="upload-photo">
                        <button type="submit" name="commit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                    <style>
                        label {
                            cursor: pointer;
                            /* Style as you please, it will become the visible UI component. */
                        }

                        #upload-photo {
                            opacity: 0;
                            position: absolute;
                            z-index: -1;
                        }
                    </style>
                  </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>